.match-head { color: #de5400; font-weight: bold; }
.match-note { color: #f19900; font-size: 11px; }
.last-note { padding: 5px 0;  border-bottom: 1px solid #d6d6d6; }

.product-info .info { width: 500px; }
.product-match-form label { margin-top: 3px; display: inline-block; width: 200px; }
.product-image { width: 75px; margin-left: 20px; padding: 3px; background: #fff; border: 1px solid #d6d6d6; }

.result-query { margin-top: 15px; }
#result-query { width: auto; padding: 4px; background: #fff; border: 1px solid #d6d6d6; cursor: pointer; }
#result-query:hover { border-color: #999; }
#search_string { padding: 5px; }
#search_string:active,
#search_string:focus { border-color: #f19900; }
.search-matches-button { display: block; margin-top: 5px; padding: 2px 8px; }

.selected_info { padding: 5px; background: #fff; border: 1px solid #d6d6d6; }
.selected_info .match-head { margin-top: 0; }
.hidden { display: none; }

#search-error span { display: block; padding: 5px 10px; margin-top: 3px; border: 1px solid red; background: #fdd; }

.job-icon { display: block; float: left; width: 14px; height: 14px; margin-right: 5px; text-indent: -9999px; background-repeat: no-repeat; }
.job-delete { background-image: url(../../images/dashboard-close.gif); }
.job-stop { background-image: url(../../images/cancel_icon.gif); }
.job-logs { background-image: url(../../images/btn_go.gif); }
.job-no-logs { background-image: url(../../images/note_msg_icon.gif); background-size: 13px; }

.entry-actions .entry-edit-head { background-image: url(../../images/btn_bg.gif); }

.ho-pricecrawler .external-url { padding-right: 16px; background: url(../../images/btn_go.gif) right center no-repeat; }
.ho-pricecrawler .external-url:hover { color: #e41101; }
.ho-pricecrawler td { position: relative; }
.ho-pricecrawler .tooltip-data { position: absolute; top: 20px; right: 0; padding: 2px 6px; background: #fff; border: 1px solid #ea7601; z-index: 999; }
.ho-pricecrawler .tooltip-data.no-wrap { white-space: nowrap; }

.ho-pricecrawler-adminhtml-logs-index .messages li { margin-bottom: 4px !important; line-height: 13px !important; min-height: 0 !important; }
