<?xml version="1.0"?>
<config>
    <modules>
        <Ho_PriceCrawler>
            <version>0.19.0</version>
        </Ho_PriceCrawler>
    </modules>
    <global>
        <models>
            <ho_pricecrawler>
                <class>Ho_PriceCrawler_Model</class>
                <resourceModel>ho_pricecrawler_resource</resourceModel>
            </ho_pricecrawler>
            <ho_pricecrawler_resource>
                <class>Ho_PriceCrawler_Model_Resource</class>
                <entities>
                    <products>
                        <table>ho_pricecrawler_products</table>
                    </products>
                    <sites>
                        <table>ho_pricecrawler_sites</table>
                    </sites>
                    <import_log>
                        <table>ho_pricecrawler_import_log</table>
                    </import_log>
                    <logs>
                        <table>ho_pricecrawler_logs</table>
                    </logs>
                </entities>
            </ho_pricecrawler_resource>
        </models>
        <blocks>
            <ho_pricecrawler>
                <class>Ho_PriceCrawler_Block</class>
            </ho_pricecrawler>
        </blocks>
        <helpers>
            <ho_pricecrawler>
                <class>Ho_PriceCrawler_Helper</class>
            </ho_pricecrawler>
        </helpers>
        <resources>
            <ho_pricecrawler_setup>
                <setup>
                    <module>Ho_PriceCrawler</module>
                </setup>
            </ho_pricecrawler_setup>
        </resources>
        <events>
            <controller_action_predispatch>
                <observers>
                    <ho_pricecrawler_logs_info>
                        <class>Ho_PriceCrawler_Model_Observer</class>
                        <method>showLogsInfo</method>
                    </ho_pricecrawler_logs_info>
                </observers>
            </controller_action_predispatch>
        </events>
    </global>

    <admin>
        <routers>
            <adminhtml>
				<args>
					<modules>
						<ho_pricecrawler before="Mage_Adminhtml">Ho_PriceCrawler_Adminhtml</ho_pricecrawler>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <ho_pricecrawler>
                    <file>ho/pricecrawler.xml</file>
                </ho_pricecrawler>
            </updates>
        </layout>
        <translate>
            <modules>
                <ho_pricecrawler>
                    <files>
                        <default>Ho_PriceCrawler.csv</default>
                    </files>
                </ho_pricecrawler>
            </modules>
        </translate>
    </adminhtml>

    <crontab>
        <jobs>
            <ho_pricecrawler_schedule_jobs>
                <schedule><config_path>ho_pricecrawler/jobs/schedule_cron</config_path></schedule>
                <run><model>ho_pricecrawler/observer::scheduleJobs</model></run>
            </ho_pricecrawler_schedule_jobs>
            <ho_pricecrawler_import_items>
                <schedule><config_path>ho_pricecrawler/items/import_cron</config_path></schedule>
                <run><model>ho_pricecrawler/observer::importItems</model></run>
            </ho_pricecrawler_import_items>
            <ho_pricecrawler_import_logs>
                <schedule><config_path>ho_pricecrawler/logs/import_cron</config_path></schedule>
                <run><model>ho_pricecrawler/observer::importLogs</model></run>
            </ho_pricecrawler_import_logs>
            <ho_pricecrawler_clean_logs>
                <schedule><config_path>ho_pricecrawler/logs/clean_cron</config_path></schedule>
                <run><model>ho_pricecrawler/observer::cleanLogs</model></run>
            </ho_pricecrawler_clean_logs>
        </jobs>
    </crontab>

    <default>
        <ho_pricecrawler>
            <scrapinghub>
                <api_url>https://dash.scrapinghub.com/api/</api_url>
            </scrapinghub>
            <dashboard>
                <finished_job_limit>10</finished_job_limit>
                <import_log_limit>25</import_log_limit>
            </dashboard>
            <jobs>
                <schedule_cron>0 9 * * *</schedule_cron>
            </jobs>
            <items>
                <import_cron>0 1 * * *</import_cron>
            </items>
            <logs>
                <import_cron>0 2 * * *</import_cron>
                <clean_cron>0 3 * * *</clean_cron>
                <clean_days>10</clean_days>
            </logs>
            <products_overview>
                <notice_price_difference_percentage>10</notice_price_difference_percentage>
                <use_special_prices>1</use_special_prices>
            </products_overview>
            <product_matching>
                <sorting>0</sorting>
            </product_matching>
        </ho_pricecrawler>
    </default>
</config>
