<?xml version="1.0"?>
<config>
    <sections>
        <ho_pricecrawler translate="label" module="ho_pricecrawler">
            <label>PriceCrawler</label>
            <tab>ho_config</tab>
            <sort_order>0</sort_order>
            <show_in_default>1</show_in_default>
            <groups>
                <general translate="label" module="ho_pricecrawler">
                    <label>General</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                    </fields>
                </general>
                <scrapinghub translate="label" module="ho_pricecrawler">
                    <label>Scrapinghub Settings</label>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <api_url translate="label" module="ho_pricecrawler">
                            <label>API URL</label>
                            <sort_order>10</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Default: https://dash.scrapinghub.com/api/]]></comment>
                        </api_url>
                        <api_key translate="label" module="ho_pricecrawler">
                            <label>API Key</label>
                            <sort_order>20</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Found in Account section when logged in on Scrapinghub:<br />https://dash.scrapinghub.com/account/]]></comment>
                        </api_key>
                        <project_id translate="label" module="ho_pricecrawler">
                            <label>Project ID</label>
                            <sort_order>30</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Found in URL when logged in:<br />https://dash.scrapinghub.com/p/<em>project_id</em>]]></comment>
                        </project_id>
                    </fields>
                </scrapinghub>
                <dashboard translate="label" module="ho_pricecrawler">
                    <label>Dashboard Settings</label>
                    <sort_order>25</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <finished_job_limit translate="label">
                            <label>Finished job limit</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Number of finished jobs that show up on the dashboard]]></comment>
                        </finished_job_limit>
                        <import_log_limit translate="label">
                            <label>Import log limit</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Number of import log items that show up on the dashboard]]></comment>
                        </import_log_limit>
                    </fields>
                </dashboard>
                <jobs translate="label" module="ho_pricecrawler">
                    <label>Jobs Settings</label>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <schedule_cron translate="label comment" module="ho_pricecrawler">
                            <label>Jobs scheduling cron</label>
                            <frontend_type>text</frontend_type>
                            <validate>required-entry</validate>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Default value: <code>0 9 * * *</code> for daily at 9 AM]]></comment>
                        </schedule_cron>
                    </fields>
                </jobs>
                <items translate="label" module="ho_pricecrawler">
                    <label>Items Settings</label>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <import_cron translate="label comment" module="ho_pricecrawler">
                            <label>Import items cron</label>
                            <frontend_type>text</frontend_type>
                            <validate>required-entry</validate>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Default value: <code>0 1 * * *</code> for daily at 1 AM]]></comment>
                        </import_cron>
                    </fields>
                </items>
                <logs translate="label" module="ho_pricecrawler">
                    <label>Logs Settings</label>
                    <sort_order>45</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <import_cron translate="label comment" module="ho_pricecrawler">
                            <label>Import logs cron</label>
                            <frontend_type>text</frontend_type>
                            <validate>required-entry</validate>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Default value: <code>0 2 * * *</code> for daily at 2 AM]]></comment>
                        </import_cron>
                    </fields>
                </logs>
                <products_overview translate="label" module="ho_pricecrawler">
                    <label>Products Overview</label>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <notice_price_difference_percentage translate="label comment" module="ho_pricecrawler">
                            <label>Notice price difference percentage</label>
                            <sort_order>10</sort_order>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number</validate>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Negative price differences are shown in red above this percentage difference]]></comment>
                        </notice_price_difference_percentage>
                        <use_special_prices translate="label comment" module="ho_pricecrawler">
                            <label>Use special prices</label>
                            <sort_order>20</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Use special prices of own products for price difference calculation]]></comment>
                        </use_special_prices>
                    </fields>
                </products_overview>
                <product_matching translate="label" module="ho_pricecrawler">
                    <label>Product Matching</label>
                    <sort_order>60</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <sorting translate="label comment">
                            <label>Sorting</label>
                            <sort_order>10</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>ho_pricecrawler/system_config_source_sorting</source_model>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Sorting method of the proposed products list. Default is 'Relevance'.]]></comment>
                        </sorting>
                    </fields>
                </product_matching>
            </groups>
        </ho_pricecrawler>
    </sections>
</config>
